.cartEmpty{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:20px;
    border:1px solid #eaeaea;
    margin-right: 2%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    padding:20px 30px;
}

