.MainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 90%;
    padding: 0 5%;
}

.Advantages{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    height: auto;
}

.Advantages div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    height: 100%;
    border-radius:20px;
    border-width: 1px;
    border-color: #eaeaea;
    border-style: solid;
    align-items: center;
    padding: 2%;
    padding-top: 0;
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);
    margin-top: 20px;
}
.Advantages div:hover{
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);
    transform: translateY(-10px);
    transition: 1s;
}

.Advantages div p{
    color: #878787;
    margin: 0;
    padding: 0;
    font-size: small;
}



.size60{
    width: 60%;
    text-align: center;
}