.header{
    width: 90%;
    height: 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background-color: white;
    padding: 15px 5%;
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);
}

.header .logo{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header .logo img{
    margin-right: 20px;
}

.header .logo a{
    display: flex;
    flex-direction: column;
}

.header .actions{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.header .actions a{
    margin-left: 5%;
    border-bottom: 0 solid #0077ff;
}

.header .actions a:hover{
    border-bottom-width: 3px;
}

.actions a{
    margin: 0 10px;
}
