.ACContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 20px;
}



.ACContainer .firstBlock{
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 2%;
}

.ACContainer .lastBlock{
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ACContainer .lastBlock label{
    margin-top: 2%;
}

.ACContainer .lastBlock .buttonDiv{
    margin-top: auto; /* автоматический отступ сверху - прижмет к низу */
}

.ACContainer .lastBlock .buttonDiv button{
    width: 49%;
    height: auto;
}

.ACContainer .lastBlock button:disabled {
    background: #9ca3af;
    color: #6b7280;
    cursor: not-allowed;
    /* Отключаем все hover эффекты */
    transform: none !important;
    box-shadow: none !important;
}

.MainDiv{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 5%;
}

.item{
    width: 96%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius:10px;
    border:1px solid #eaeaea;
    margin-bottom: 25px;
    padding: 2%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    padding-top: 0;
}

.item input,select,textarea{
    width: 95%;
    height: auto;
    border-radius:10px;
    border:1px solid #eaeaea;
    margin-top: 1%;
    background-color: white;
    color: black;
    padding: 2%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.errorDiv{
    width: 99%;
    height: auto;
    color: #f32727;
    margin-bottom: 3%;

}

.exitButton{
    background-color: white;
    color: black;
    border-radius:10px;
    border:1px solid #eaeaea;
    margin-right: 2%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.exitButton:hover{
    border:1px solid black;
    color: black;
}


